@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body, html{
    height: 100%;
    width: 100%;
}
.cursor{
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background-color: lightseagreen;
    position: absolute;
    z-index: 100;
    mix-blend-mode:difference;
    transition: all linear 0.1s;
}
.content{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: rgba(228, 188, 195, 0.9); */
    display: flex;
    position: relative;
}
.contentAfter{
    display: none;
}
.left{
    height: 100%;
    width: 55%;
    padding: 5vw 4vw;
    font-family: 'Times New Roman', Times, serif;
}

.left h1{
    font-size: 3vw;
    line-height: 4vw;
    color: white;
}
.left h1 span{
    color: lightseagreen;
}
.left h1 span::after{
    content: '';
    width: 0%;
    height: 3px;
    background: crimson;
    display: block;
    /* margin: auto; */
    transition: 0.5s;
}
.left h1 span:hover::after{
    width: calc(100% - 83%);
}

.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: white;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 4vw;
}
.content button{
    font-size: 1.5vw;
    padding: 1vw 2.2vw;
    background-color: #00C8AC;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor:pointer;
}
.content button:hover
{
    background-color: crimson;
    transition: all 0.5s;
}
.right{
    height: 100%;
    width: 45%;
}
.right img{
    height: 100%;
    width: 100%;
    
}
.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(2, 12, 22, 0.7),rgba(2, 28, 35, 0.7)),url(images/th.jpeg);
    /* background-color: #0D3159; */
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-y: hidden;
    /* opacity: 2; */
}  
nav{
    display: flex;
    padding: 1.5% 4%;
    justify-content: space-between;
    align-items: center;
}
.nav_image{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    font-family: 'Lexend Giga', sans-serif;
}

.nav_image h3::after
{
    content: '';
    width: 0%;
    height: 3px;
    background: #EF5050;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav_image h3:hover::after{
    width: 100%;
}


nav img
{
    width: 45px;
}
.nav-links
{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size:  16px;
    font-weight: 600;
    
}
i{
    color: white;
    font-size: 25px;
}
.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 3px;
    background: crimson;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box
{
    width: 85%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
/* .heading::after
{
    content: '';
    width: 0%;
    height: 3px;
    background: crimson;
    display: block;
    margin: auto;
    transition: 2.5s;

}
.heading:hover::after{
    width: 100%;
} */
.text-box h1
{
    font-size: 56px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 24px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    word-spacing: 5px;
    font-size: 18px;
    font-weight: 600;
}
.hero-btn:hover
{
    border: 1px solid crimson;
    background: crimson;
    transition: 1s;
}
nav .fa
{
    display: none;
}

.ra{
    display: none;
}



.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    /* border: 2px solid black; */
    border-radius: 5%;
    margin: 22px;
    width: 400px;
    padding: 10px 30px;
    box-shadow: 5px 5px 10px 0 rgba(37, 37, 37, 0.5);
    background-color: #00DFC0;
    transition: all 0.3s;
    cursor: pointer;
    /* color: white; */
}

.box:hover
{
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.8);
    /* margin: 40px; */
}
.box_head{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

.box_content{
    font-size: 14px;
    font-weight: 600;
}

.upper{
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.upper img{
    width: 80px;
    /* margin-bottom: 5px; */
    margin-right: 50px;
}

/* body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
} */
/* .row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
} */
.footer{
  background-color: #24262b;
    padding: 5px 0;
}
.footer-col{
   width: 55%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 16px;
  color: #faf7f7;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #f00707;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #131212;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  justify-content: center;
  line-height: 40px;
  border-radius: 50%;
  color: #da0808;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #7d7a7a;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px)
{
  .footer-col
  {
    width: 100%;
    }
/* .copyright{ */
    /* width: 50px; */
    /* font-size: 2px; */
/* } */
}


@media (max-width: 1150px) {
    .nav_image{
        display: flex;
        align-items: center;
        gap: 8px;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
    nav img
    {
        width: 60px;
    }
    .text-box
    {
        width: 95%;
    }

    .text-box h1{
        font-size: 40px;
    }
    .text-box p{
        font-size: 20px;
    }
    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 6px;
        position: relative;
    }
    .nav-links ul li a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
    }
    .ra{
        display: none;
    }
    
}

@media (max-width: 750px) {
    .nav_image{
        display: flex;
        align-items: center;
        gap: 8px;
        color: white;
        font-size: 12px;
        cursor: pointer;
    }
    nav img
    {
        width: 60px;
    }
    .text-box
    {
        width: 95%;
    }

    .text-box h1{
        font-size: 33px;
    }
    .text-box p{
        font-size: 20px;
    }
    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 6px;
        position: relative;
    }
    .nav-links ul li a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
    }
    .ra{
        display: none;
    }
    
}


@media (max-width: 600px) {
    .nav_image{
        display: flex;
        align-items: center;
        gap: 20px;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
    nav img
    {
        width: 60px;
    }
    .text-box
    {
        width: 95%;
        /* color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center; */
    }

    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size: 16px;
    }
    .nav-links ul li
    {
       display: block; 

    }
    .nav-links{
        position: absolute;
        background: crimson;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }

    .hero-btn{
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        word-spacing: 5px;
        font-size: 16px;
        font-weight: 600;
    }
    .ra{
        display: block;
    }
    .content{
        display: none;

    }
    .contentAfter{
        display: block;
    }
    .contentAfter button{
        font-size: 5vw;
        padding: 1vw 3vw;
        background-color: #00C8AC;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        cursor:pointer;
    }
    .contentAfter button:hover
    {
        background-color: crimson;
        transition: all 0.5s;
    }
    .right{
        height: 90vw;
        width: 100vw;
        text-align: center;
    }
    .right img{
        height: 100%;
        width: 90%;
        text-align: center;
    }
    .left{
        height: 100vw;
        width: 100vw;
        text-align: center;
        padding: 4vw 4vw;
    }
    .left h1{
        font-size: 5vw;
        line-height: 6vw;
        color: white;
    }
    .left p{
        font-size: 3vw;
        font-weight: 600;
        color: white;
        width: 95%;
        margin-top: 5vw;
        margin-bottom: 7vw;
    }
    .box {
        /* border: 2px solid black; */
        border-radius: 3%;
        margin: 22px;
        width: 400px;
        padding: 10px 8px;
        box-shadow: 10px 10px 8px 0 rgba(37, 37, 37, 0.5);
        background-color: #00DFC0;
        transition: all 0.3s;
        cursor: pointer;
        /* color: white; */
    }
}


@media (max-width: 500px) {
    .nav_image{
        display: flex;
        align-items: center;
        gap:7px;
        color: white;
        font-size: 13px;
        cursor: pointer;
    }
    nav img
    {
        width: 30px;
    }
    .text-box
    {
        width: 90%;
        /* color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center; */
    }

    .text-box h1{
        font-size: 16px;
    }
    .text-box p{
        font-size: 14px;
    }
    .nav-links ul li
    {
       display: block; 

    }
    .nav-links{
        position: absolute;
        background: crimson;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;

    }
    .hero-btn{
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 10px 30px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        word-spacing: 2px;
        font-size: 15px;
        font-weight: 600;
    }
}


























